<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html"
        >Web<span class="logo-past">Studio</span></a
      >
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current" href="./index.html">Studio</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="">Contacts</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" data-menu-close>
        <svg class="mobile-menu-cloce-icon" width="8" height="8">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link current" href="./index.html"
              >Studio</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="">Portfolio</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="mobile-menu-contacts">
        <ul class="mobile-menu-contacts-list">
          <li class="mobile-menu-contacts-item">
            <a
              class="mobile-menu-contacts-link current"
              href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
          <li class="mobile-menu-contacts-item">
            <a
              class="mobile-menu-contacts-link"
              href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
      <div class="mobile-menu-socials">
        <ul class="mobile-menu-socials-list">
          <li class="mobile-menu-socials-item">
            <a class="mobile-menu-socials-link" href=""
              ><svg class="mobile-menu-socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-socials-item">
            <a class="mobile-menu-socials-link" href=""
              ><svg class="mobile-menu-socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-socials-item">
            <a class="mobile-menu-socials-link" href=""
              ><svg class="mobile-menu-socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-socials-item">
            <a class="mobile-menu-socials-link" href=""
              ><svg class="mobile-menu-socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
